<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Погода</title>
</head>
<body>
    <h1>Прогноз погоди</h1>

    <!-- Банер від OneWeather -->
<div id="ww_ebfb93ac692ab" v='1.3' loc='id' a='{"t":"horizontal","lang":"en","sl_lpl":1,"ids":["wl1854"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'><a href="https://weatherwidget.org/" id="ww_ebfb93ac692ab_u" target="_blank">Html weather widget</a></div><script async src="https://app3.weatherwidget.org/js/?id=ww_ebfb93ac692ab"></script>
<h3>Прогноз погоди 2</h3>
<div id="ww_ebfb93ac692ab" v='1.3' loc='id' a='{"t":"horizontal","lang":"en","sl_lpl":1,"ids":["wl307"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'>More forecasts: <a href="https://oneweather.org/cs/prague/30_days/" id="ww_ebfb93ac692ab_u" target="_blank">Počasí Praha na 30 dní</a></div><script async src="https://app3.weatherwidget.org/js/?id=ww_ebfb93ac692ab"></script>
</body>
</html>
